/.vs
/IdentityServer/obj
/SXLZ.OnLineEdu.ApiGateWay/bin/Debug
/SXLZ.OnLineEdu.ApiGateWay/obj
/SXLZ.OnLineEdu.BaseApi/obj
/SXLZ.OnLineEdu.CourseApi/bin/Debug
/SXLZ.OnLineEdu.EventBusApi/obj
/SXLZ.OnLineEdu.IService/bin
/SXLZ.OnLineEdu.IService/obj
/SXLZ.OnLineEdu.Utilies/obj
/SXLZ.OnLineEdu.Utilies/bin
/SXLZ.OnLineEdu.ServiceImpl/bin
/SXLZ.OnLineEdu.ServiceImpl/obj
/SXLZ.OnLineEdu.ServiceDiscovery.Consul/bin
/SXLZ.OnLineEdu.ServiceDiscovery.Consul/obj
/SXLZ.OnLineEdu.Repository/obj
/SXLZ.OnLineEdu.Repository/bin
/SXLZ.OnLineEdu.Model/bin
/SXLZ.OnLineEdu.Model/obj
/SXLZ.OnLineEdu.BaseApi/bin
/SXLZ.OnLineEdu.AdminWeb/bin
/SXLZ.OnLineEdu.AdminApi/bin
/IdentityServer/bin
/SXLZ.OnLineEdu.AdminApi/obj/Debug
/SXLZ.OnLineEdu.AdminApi/obj/SXLZ.OnLineEdu.AdminApi.csproj.nuget.cache
/SXLZ.OnLineEdu.AdminApi/obj/SXLZ.OnLineEdu.AdminApi.csproj.nuget.dgspec.json
/SXLZ.OnLineEdu.AdminApi/obj/SXLZ.OnLineEdu.AdminApi.csproj.nuget.g.props
/SXLZ.OnLineEdu.AdminApi/obj/SXLZ.OnLineEdu.AdminApi.csproj.nuget.g.targets
/SXLZ.OnLineEdu.AdminApi/obj/project.assets.json
/SXLZ.OnLineEdu.AdminWeb/obj/*.json
/SXLZ.OnLineEdu.AdminWeb/obj/*.cache
/SXLZ.OnLineEdu.AdminWeb/obj/*.props
/SXLZ.OnLineEdu.AdminWeb/obj/*.targets
/SXLZ.OnLineEdu.AdminWeb/obj/*
/SXLZ.OnLineEdu.CourseApi/obj/project.assets.json
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnLineEdu.CourseApi.csproj.nuget.cache
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.CourseApi.csproj.nuget.dgspec.json
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.CourseApi.csproj.nuget.g.props
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.CourseApi.csproj.nuget.g.targets
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.CourseWebApi.csproj.nuget.cache
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.CourseWebApi.csproj.nuget.dgspec.json
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.CourseWebApi.csproj.nuget.g.props
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.CourseWebApi.csproj.nuget.g.targets
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.WebApi.csproj.nuget.cache
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.WebApi.csproj.nuget.dgspec.json
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.WebApi.csproj.nuget.g.props
/SXLZ.OnLineEdu.CourseApi/obj/SXLZ.OnlineEdu.WebApi.csproj.nuget.g.targets
/SXLZ.OnLineEdu.CourseApi/obj/Debug
/SXLZ.OnLineEdu.EventBusApi/bin/Debug/netcoreapp3.1
