/.vs
/IdentityServer/obj
/SXLZ.OnLineEdu.ApiGateWay/bin/Debug
/SXLZ.OnLineEdu.ApiGateWay/obj
/SXLZ.OnLineEdu.BaseApi/obj
/SXLZ.OnLineEdu.CourseApi/bin/Debug
/SXLZ.OnLineEdu.EventBusApi/obj
/SXLZ.OnLineEdu.IService/bin
/SXLZ.OnLineEdu.IService/obj
/SXLZ.OnLineEdu.Utilies/obj
/SXLZ.OnLineEdu.Utilies/bin
/SXLZ.OnLineEdu.ServiceImpl/bin
/SXLZ.OnLineEdu.ServiceImpl/obj
/SXLZ.OnLineEdu.ServiceDiscovery.Consul/bin
/SXLZ.OnLineEdu.ServiceDiscovery.Consul/obj
/SXLZ.OnLineEdu.Repository/obj
/SXLZ.OnLineEdu.Repository/bin
/SXLZ.OnLineEdu.Model/bin
/SXLZ.OnLineEdu.Model/obj
/SXLZ.OnLineEdu.BaseApi/bin
/SXLZ.OnLineEdu.AdminWeb/bin
/SXLZ.OnLineEdu.AdminApi/bin
/IdentityServer/bin
